# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.vscode/launch.json
classification/data.circles.test.100.csv
classification/data.circles.test.500.csv
classification/data.circles.test.1000.csv
classification/data.circles.test.10000.csv
classification/data.circles.train.100.csv
classification/data.circles.train.500.csv
classification/data.circles.train.1000.csv
classification/data.circles.train.10000.csv
classification/data.noisyXOR.test.100.csv
classification/data.noisyXOR.test.500.csv
classification/data.noisyXOR.test.1000.csv
classification/data.noisyXOR.test.10000.csv
classification/data.noisyXOR.train.100.csv
classification/data.noisyXOR.train.500.csv
classification/data.noisyXOR.train.1000.csv
classification/data.noisyXOR.train.10000.csv
classification/data.simple.test.500.csv
classification/data.simple.test.1000.csv
classification/data.simple.test.10000.csv
classification/data.simple.train.500.csv
classification/data.simple.train.1000.csv
classification/data.simple.train.10000.csv
classification/data.three_gauss.test.500.csv
classification/data.three_gauss.test.1000.csv
classification/data.three_gauss.test.10000.csv
classification/data.three_gauss.train.500.csv
classification/data.three_gauss.train.1000.csv
classification/data.three_gauss.train.10000.csv
classification/data.XOR.test.100.csv
classification/data.XOR.test.500.csv
classification/data.XOR.test.1000.csv
classification/data.XOR.test.10000.csv
classification/data.XOR.train.100.csv
classification/data.XOR.train.500.csv
classification/data.XOR.train.1000.csv
classification/data.XOR.train.10000.csv
img/class2.png
img/class31.png
img/class32.png
img/error2.png
img/error31.png
img/error32.png
img/errorchuj.png
img/errorPolly.png
img/net2.png
img/net31.png
img/net32.png
img/netchuj.png
img/netPolly.png
img/regreschuj.png
img/regresPolly.png
minst/test.csv
minst/train.csv
regression/data.activation.test.500.csv
regression/data.activation.test.1000.csv
regression/data.activation.test.10000.csv
regression/data.activation.train.500.csv
regression/data.activation.train.1000.csv
regression/data.activation.train.10000.csv
regression/data.cube.test.100.csv
regression/data.cube.test.500.csv
regression/data.cube.test.1000.csv
regression/data.cube.test.10000.csv
regression/data.cube.train.100.csv
regression/data.cube.train.500.csv
regression/data.cube.train.1000.csv
regression/data.cube.train.10000.csv
regression/data.linear.test.100.csv
regression/data.linear.test.500.csv
regression/data.linear.test.1000.csv
regression/data.linear.test.10000.csv
regression/data.linear.train.100.csv
regression/data.linear.train.500.csv
regression/data.linear.train.1000.csv
regression/data.linear.train.10000.csv
regression/data.multimodal.test.100.csv
regression/data.multimodal.test.500.csv
regression/data.multimodal.test.1000.csv
regression/data.multimodal.test.10000.csv
regression/data.multimodal.train.100.csv
regression/data.multimodal.train.500.csv
regression/data.multimodal.train.1000.csv
regression/data.multimodal.train.10000.csv
regression/data.square.test.100.csv
regression/data.square.test.500.csv
regression/data.square.test.1000.csv
regression/data.square.test.10000.csv
regression/data.square.train.100.csv
regression/data.square.train.500.csv
regression/data.square.train.1000.csv
regression/data.square.train.10000.csv
